.stats {
  background: var(--brand-gradient);
  color: #e5e7eb;
}

.stats .section-header {
  color: #ffffff;
  margin-bottom: 40px;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  align-items: center;
}

.stats-card {
  background: #fff;
  border-radius: 18px;
  padding: 10px;
}

.stats-card img{
  width: 600px;
  border-radius: 18px;
}

.stats-pairs {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 10px;
  margin-top: 14px;
}

.stat {
  background:  #f87400;
  border: 1px solid  #fe3503c3;
  border-radius: 14px;
  display: grid;
  place-items: center;
  padding: 22px;
}

.stat h3 {
  font-size: 36px;
  color: #ffffff;
  margin: 0;
}

.stat p {
  margin-top: 6px;
  color: #070707ab;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 960px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}
