* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Poppins, system-ui, sans-serif;
  background: #f6f8fc;
  /* slightly cooler, cleaner */
  color: var(--text);
}

/* Layout */
.container {
  max-width: var(--container);
  margin: auto;
  padding: 0 20px;
}

.section {
  padding: 72px 0;
}

/* Headings */
.section-header {
  font-size: clamp(22px, 2.4vw, 36px);
  line-height: 1.2;
  margin-bottom: 16px;
  color: var(--text);
}

.section-sub {
  color: var(--muted);
  max-width: 720px;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons (global consistency) */
.btn {
  background: var(--brand-gradient);
  color: #fff;
  box-shadow: 0 8px 22px rgba(255, 61, 129, 0.35);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.btn:hover {
  filter: brightness(1.05);
  transform: translateY(-1px);
}

.btn1 {
  border: 1px solid #e5e7eb;
  color: var(--text);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.btn1:hover {
  border-color: var(--brand);
  color: var(--brand);
}

.careers-section {
  min-height: 40vh;
}

.job-card h4,
.job-card p {
  margin-left: auto;
  margin-right: auto;
}

.job-card .btn1 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.footer__contact-item {

  padding: 10px 0px;
}

.footer__contact-item:first-child {
  padding-bottom: 10px 0px;
  padding-top: 0px;
}

.country-tabs .tab-btn:hover {
  color: #ff6f38;
  border-bottom: 2px solid #fd762f;
}

.country-tabs .tab-btn.active:hover {
  color: #fff;
  border-bottom: 0px solid #fd762f;
}


/* Mobile */
@media (max-width: 576px) {}

/* Tablet */
@media (max-width: 768px) {

  .mobile-cta .btn {
    display: none;
  }

  .process__step-icon {
    display: none;
  }

  .testimonials__rating {
    display: none;
  }

  .stats-trophy {
    display: none;
  }

  .section {
    padding: 32px 0;
  }

  .about-dark {
    margin: 40px 20px;
  }

  .contact-left h2 {
    display: none;
  }

  .testimonials__container {
    gap: 0px;
  }

  .careers-section {
    padding: 60px 0px;
  }

  .process__header {
    margin-bottom: 30px;
  }
}

/* Tablet Landscape / Small Laptop */
@media (max-width: 1024px) {}

/* Desktop */
@media (min-width: 1025px) {}


.job-details h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: var(--text);
}

.job-details .job-meta {
  color: var(--muted);
  margin-bottom: 24px;
  color: var(--text);
}

.job-description {
  white-space: pre-wrap;
  background: #f9fafc;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 32px;
}

.job-description p {
  color: var(--text);

}